<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1,
           maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <title id="title">播放页</title>
    <script src="https://unpkg.com/axios@0.26.1/dist/axios.min.js"></script>

    <!--    <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.9.19/skins/default/aliplayer-min.css"/>-->
    <!--    <script type="text/javascript" charset="utf-8"-->
    <!--            src="https://g.alicdn.com/de/prismplayer/2.9.19/aliplayer-min.js"></script>-->

    <!--引入微信sdk，解决自动播放问题-->
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

    <!--腾讯云播放器-->
    <link href="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.1/tcplayer.min.css" rel="stylesheet"/>
    <!--如果需要在 Chrome 和 Firefox 等现代浏览器中通过 H5 播放 Webrtc 视频，需要在 tcplayer.vx.x.x.min.js之前引入 TXLivePlayer-x.x.x.min.js。-->
    <!--有些浏览器环境不支持 Webrtc，播放器会将 Webrtc 流地址自动转换为 HLS 格式地址，因此快直播场景同样需要引入hls.min.x.xx.xm.js。-->
    <script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.1/libs/TXLivePlayer-1.2.0.min.js"></script>
    <!--如果需要在 Chrome 和 Firefox 等现代浏览器中通过 H5 播放 HLS 格式的视频，需要在 tcplayer.vx.x.x.min.js 之前引入 hls.min.x.xx.xm.js。-->
    <script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.1/libs/hls.min.0.13.2m.js"></script>
    <!--播放器脚本文件-->
    <script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.1/tcplayer.v4.5.1.min.js"></script>

</head>

<body>

<div>
    <!--    <div class="prism-player" id="player-con">-->
    <video id="player-container-id" width="100%" height="300px"
           preload="auto" playsinline webkit-playsinline>
    </video>
    <!--    </div>-->
    <div><span id="errorInfo" style="font-size: 30px"></span></div>
    <div id="div_title" style="font-size: 30px;color: blue"></div>
    <div id="watchCount" style="font-size: 17px;color: darkcyan"></div>
    <div id="createTime" style="font-size: 17px;color: darkcyan"></div>
    <div id="description" style="font-size: 20px"></div>
</div>

<script>
    function autoPlay() {
        wx.config({
            // 配置信息, 即使不正确也能使用 wx.ready
            debug: false,
            appId: '',
            timestamp: 1,
            nonceStr: '',
            signature: '',
            jsApiList: []
        });

        // let video = document.getElementById("player-con").getElementsByTagName("video")[0];
        let video = document.getElementById("player-container-id");
        wx.ready(function () {
            video.play();
        });

        document.addEventListener('WeixinJSBridgeReady', function () {
            video.play();
        }, false);

    }

    let videoId;
    let watchId;

    let videoStatus;

    //获取url路径中的参数
    function getUrlVariable(key) {
        const query = window.location.search.substring(1);
        const vars = query.split("&");
        for (let i = 0; i < vars.length; i++) {
            const pair = vars[i].split("=");
            if (pair[0] === key) {
                return pair[1];
            }
        }
        return false;
    }

    /**
     * 判断是否是pc端
     */
    function IsPC() {
        var userAgentInfo = navigator.userAgent;
        var Agents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
        var flagPc = true;
        for (var v = 0; v < Agents.length; v++) {
            if (userAgentInfo.indexOf(Agents[v]) > 0) {
                flagPc = false;
                break;
            }
            return flagPc;
        }
    }

    //console.log(flag) //true为PC端，false为手机端
    //加载视频
    function loadWatchInfo() {
        let player;

        watchId = getUrlVariable("v");
        //获取播放地址
        axios.get('/video/getWatchInfo?watchId=' + watchId)
            .then(function (res) {
                let data = res.data.data;
                videoId = data.videoId;
                //封面
                let coverUrl = data.coverUrl;
                //播放地址
                let playUrlList = data.playUrlList;
                let SD;
                let HD;
                for (let i = 0; i < playUrlList.length; i++) {
                    let each = playUrlList[i];
                    if (each.resolution === '720p') {
                        SD = each.url;
                    } else if (each.resolution === '1080p') {
                        HD = each.url;
                    }
                }

                videoStatus = data.videoStatus;
                //判断视频状态，如果已就绪，就创建播放器。如果还没就绪，就提示
                if (data.videoStatus === "READY") {
                    // player = new Aliplayer({
                    //     "id": "player-con",
                    //     "source": '{"HD":"' + HD + '","SD":"' + SD + '"}',
                    //     // "cover": coverUrl,
                    //     "width": "100%",
                    //     "height": "350px",
                    //     "autoplay": true,
                    //     "isLive": false,
                    //     "rePlay": false,
                    //     "playsinline": true,
                    //     "preload": true,
                    //     "controlBarVisibility": "hover",
                    //     "useH5Prism": true
                    // }, function (player) {
                    //     autoPlay();
                    // });

                    player = TCPlayer('player-container-id', {autoplay: true});
                    if (HD != null) {
                        player.src(HD);
                    } else {
                        player.src(SD);
                    }
                    let playerVideo = document.getElementById("player-container-id");
                    playerVideo.style.width = (window.innerWidth - 30) + "px";
                    //pc端自动网页全屏
                    if (IsPC()) {
                        playerVideo.style.height = (window.innerHeight - 50) + "px";
                    }
                } else {
                    document.getElementById("errorInfo").innerHTML
                        = "视频正在上传或转码<br>"
                        + "请稍后再来<br>"
                        + "videoId=" + videoId + "<br>"
                        + "当前状态："+ data.videoStatus;
                    document.getElementById("player-container-id").style.display = "none";
                }

                afterVideoLoaded(videoId);
            })
    }

    //在视频已加载后
    function afterVideoLoaded(videoId) {
        loadVideoInfo(videoId);
        addWatchLog(videoId);
    }

    //加载视频信息
    function loadVideoInfo(videoId) {
        //加载title等信息
        axios.get('/video/getVideoInfo?videoId=' + videoId)
            .then(function (res) {
                let data = res.data.data;
                document.getElementById("title").innerText = data.title;
                document.getElementById("div_title").innerText = data.title;
                document.getElementById("watchCount").innerText = "观看次数：" + data.watchCount;
                document.getElementById("createTime").innerText = "发布时间：" + data.createTimeString;
                document.getElementById("description").innerText = data.description;
            });
    }

    //增加观看次数
    function addWatchLog(videoId) {
        //先搞定clientId和sessionId，请求用户服务器
        handleClientId();
        handleSessionId();
    }

    //clientId
    function handleClientId() {
        if (localStorage.getItem("clientId") == null) {
            axios.get('//' + document.domain + ':5021/user-micro-service-2022/client/requestClientId')
                .then(function (res) {
                    let data = res.data.data;
                    localStorage.clientId = data.clientId;
                    runAddWatchLog();
                });
        } else {
            runAddWatchLog();
        }
    }

    //sessionId
    function handleSessionId() {
        if (sessionStorage.getItem("sessionId") == null) {
            axios.get('//' + document.domain + ':5021/user-micro-service-2022/session/requestSessionId')
                .then(function (res) {
                    let data = res.data.data;
                    sessionStorage.sessionId = data.sessionId;
                    runAddWatchLog();
                });
        } else {
            runAddWatchLog();
        }
    }

    let hasAddWatchLog = false;

    function runAddWatchLog() {
        //如果没有clientId或者sessionId，跳过
        if (localStorage.getItem("clientId") == null
            || sessionStorage.getItem("sessionId") == null
            || hasAddWatchLog) {
            return;
        }
        //增加观看次数，只有在ready状态，才增加
        if (videoStatus === "READY") {
            axios.get('/video/addWatchLog?videoId=' + videoId
                + '&clientId=' + localStorage.clientId
                + '&sessionId=' + sessionStorage.sessionId)
                .then(function (res) {
                    hasAddWatchLog = true;
                });
        }
    }

    //从这里开始
    loadWatchInfo();

</script>
</body>