<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1,
           maximum-scale=1, minimum-scale=1, user-scalable=no"/>

    <title id="title">播放页</title>

    <!--axios-->
    <script src="https://production-bucket.oss-cn-beijing.aliyuncs.com/dist/axios/axios-0.26.1.min.js"></script>

    <!--腾讯云播放器-->
    <!--    <link href="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.1/tcplayer.min.css" rel="stylesheet"/>-->
    <!--    <script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.1/libs/TXLivePlayer-1.2.0.min.js"></script>-->
    <!--    <script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.1/libs/hls.min.0.13.2m.js"></script>-->
    <!--    <script src="https://web.sdk.qcloud.com/player/tcplayer/release/v4.5.1/tcplayer.v4.5.1.min.js"></script>-->

    <!--阿里云播放器-->
    <link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.13.2/skins/default/aliplayer-min.css"/>
    <script type="text/javascript" charset="utf-8"
            src="https://g.alicdn.com/de/prismplayer/2.13.2/aliplayer-min.js"></script>

    <!--mui-->
    <link href="https://production-bucket.oss-cn-beijing.aliyuncs.com/dist/mui/mui-3.7.1.min.css" rel="stylesheet">
    <script src="https://production-bucket.oss-cn-beijing.aliyuncs.com/dist/mui/mui-3.7.1.min.js"></script>
</head>

<body>

<div>
    <!--    腾讯云播放器-->
    <!--    <video id="player-container-id" width="100%" height="300px"-->
    <!--           preload="auto" playsinline webkit-playsinline>-->
    <!--    </video>-->

    <!--    阿里云播放器-->
    <div class="prism-player" id="player-con"></div>

    <div id="resolutionGroups" style="margin-top: 10px;margin-left: 40px">
        <button id="btn1080" type="button" class="mui-btn mui-btn-primary">1080p</button>
        <button id="btn720" style="margin-left: 35px" type="button" class="mui-btn mui-btn-success">720p</button>
        <span id="currentResolution" style="margin-left: 20px;padding-top:10px;font-size: 25px"></span>
    </div>
    <div><span id="errorInfo" style="font-size: 30px"></span></div>
    <div id="div_title" style="font-size: 30px;color: blue;margin-top: 16px;line-height:30px"></div>
    <div id="watchCount" style="font-size: 17px;color: darkcyan;margin-top: 14px"></div>
    <div id="createTime" style="font-size: 17px;color: darkcyan;margin-top: 6px"></div>
    <div id="description" style="font-size: 20px"></div>
</div>

<script>
    let videoId;
    let watchId;
    let coverUrl;
    let playUrlList;

    let videoStatus;
    let SD;
    let HD;
    let currentUrl;
    let player;

    let resolutionGroups = document.getElementById("resolutionGroups");
    let btn1080 = document.getElementById("btn1080");
    let btn720 = document.getElementById("btn720");
    let currentResolution = document.getElementById("currentResolution");
    let playerElement = document.getElementById("player-con");

    //获取url路径中的参数
    function getUrlVariable(key) {
        const query = window.location.search.substring(1);
        const vars = query.split("&");
        for (let i = 0; i < vars.length; i++) {
            const pair = vars[i].split("=");
            if (pair[0] === key) {
                return pair[1];
            }
        }
        return false;
    }

    //判断是否是pc端
    function isPC() {
        let userAgent = navigator.userAgent;
        let mobileAgents = ["Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod"];
        for (let i = 0; i < mobileAgents.length; i++) {
            if (userAgent.indexOf(mobileAgents[i]) > 0) {
                return false;
            }
        }
        return true;
    }

    //根据url开始播放，如果换播放器，需要改这里
    function playByM3u8UrlAndTime(m3u8Url, time) {
        currentUrl = m3u8Url;

        //腾讯云播放器
        // if (player == null) {
        //     player = TCPlayer('player-container-id', {autoplay: true});
        // }
        // player.src(m3u8Url);
        // player.play();
        // player.ready(function () {
        //     player.currentTime(time);
        // });

        //阿里云播放器
        player = new Aliplayer({
                "id": "player-con",
                "source": m3u8Url,
                "cover": coverUrl,
                "width": "100%",
                "height": "500px",
                "autoplay": true,
                "isLive": false,
                "rePlay": false,
                "playsinline": true,
                "isVBR": true,
                "preload": true,
                "controlBarVisibility": "hover",
                "useH5Prism": true,
                "skinLayout": [
                    {
                        "name": "bigPlayButton",
                        "align": "blabs",
                        "x": 30,
                        "y": 80
                    },
                    {
                        "name": "H5Loading",
                        "align": "cc"
                    },
                    {
                        "name": "errorDisplay",
                        "align": "tlabs",
                        "x": 0,
                        "y": 0
                    },
                    {
                        "name": "infoDisplay"
                    },
                    {
                        "name": "tooltip",
                        "align": "blabs",
                        "x": 0,
                        "y": 56
                    },
                    {
                        "name": "thumbnail"
                    },
                    {
                        "name": "controlBar",
                        "align": "blabs",
                        "x": 0,
                        "y": 0,
                        "children": [
                            {
                                "name": "progress",
                                "align": "blabs",
                                "x": 0,
                                "y": 44
                            },
                            {
                                "name": "playButton",
                                "align": "tl",
                                "x": 15,
                                "y": 12
                            },
                            {
                                "name": "timeDisplay",
                                "align": "tl",
                                "x": 10,
                                "y": 7
                            },
                            {
                                "name": "fullScreenButton",
                                "align": "tr",
                                "x": 10,
                                "y": 12
                            },
                            {
                                "name": "setting",
                                "align": "tr",
                                "x": 15,
                                "y": 12
                            },
                            {
                                "name": "volume",
                                "align": "tr",
                                "x": 5,
                                "y": 10
                            }
                        ]
                    }
                ]
            }, function (player) {
                player.seek(time);
            }
        );

    }

    //加载视频
    function loadVideo() {
        watchId = getUrlVariable("v");
        //获取播放地址
        axios.get('/video/getWatchInfo?watchId=' + watchId
            + '&clientId=' + localStorage.clientId
            + '&sessionId=' + sessionStorage.sessionId)
            .then(function (res) {
                let data = res.data.data;
                //开始播放
                startPlayVideo(data);
                //在视频已加载后
                afterVideoLoaded(videoId);
            })
    }

    //播放视频
    function startPlayVideo(data) {
        videoId = data.videoId;
        //封面
        coverUrl = data.coverUrl;
        //播放地址
        playUrlList = data.playUrlList;

        //分辨率url
        for (let i = 0; i < playUrlList.length; i++) {
            let each = playUrlList[i];
            if (each.resolution === '720p') {
                SD = each.url;
            } else if (each.resolution === '1080p') {
                HD = each.url;
            }
        }

        //判断视频状态，如果已就绪，就创建播放器。如果还没就绪，就提示
        videoStatus = data.videoStatus;
        if (videoStatus === "READY") {
            //先以1080p播放
            playByM3u8UrlAndTime(HD, 0);
            currentResolution.innerText = "1080p";

            //如果只有一种分辨率，那就只播一个
            if (playUrlList.length === 1) {
                if (HD != null) {
                    playByM3u8UrlAndTime(HD, 0);
                } else {
                    playByM3u8UrlAndTime(SD, 0);
                }
                //隐藏分辨率按钮组
                resolutionGroups.style.display = "none";
            } else {
                //设置切换分辨率按钮监听
                btn1080.addEventListener("click", function () {
                    //如果当前不是HD，那就切换成HD播放
                    if (currentUrl !== HD) {
                        currentResolution.innerText = "1080p";
                        playByM3u8UrlAndTime(HD, player.getCurrentTime());
                    }
                });
                btn720.addEventListener("click", function () {
                    if (currentUrl !== SD) {
                        currentResolution.innerText = "720p";
                        playByM3u8UrlAndTime(SD, player.getCurrentTime());
                    }
                });
            }

            //视频组件宽度
            playerElement.style.width = "98%";
            //pc端自动网页全屏
            if (isPC()) {
                playerVideo.style.height = (window.innerHeight - 30) + "px";
            }
        } else {
            //如果视频不是已就绪状态
            document.getElementById("errorInfo").innerHTML
                = "视频正在上传或转码<br>"
                + "请稍后再来<br>"
                + "videoId=" + videoId + "<br>"
                + "当前状态：" + data.videoStatus;
            playerElement.style.display = "none";
        }
    }

    //在视频已加载后
    function afterVideoLoaded(videoId) {
        //加载视频信息
        loadVideoInfo(videoId);
        //增加观看记录
        addWatchHistory();
    }

    //加载视频信息
    function loadVideoInfo(videoId) {
        //加载title等信息
        axios.get('/video/getVideoDetail?videoId=' + videoId)
            .then(function (res) {
                let data = res.data.data;
                document.getElementById("title").innerText = data.title;
                document.getElementById("div_title").innerText = data.title;
                document.getElementById("watchCount").innerText = "观看次数：" + data.watchCount;
                document.getElementById("description").innerText = data.description;

                //发布时间：
                //如果是用户自己上传的视频，使用create time
                //如果是youtube搬运视频，使用publish time
                // let createTime = document.getElementById("createTime");
                // if (data.type === "USER_UPLOAD") {
                //     createTime.innerText = "发布时间：" + data.createTimeString;
                // } else if (data.type === "YOUTUBE") {
                //     createTime.innerText = "发布时间：" + data.youtubePublishTimeString;
                // }
            });
    }

    //增加观看记录
    function start() {
        //先搞定clientId和sessionId，请求用户微服务
        handleClientId();
        handleSessionId();
    }

    //clientId
    function handleClientId() {
        if (localStorage.getItem("clientId") != null) {
            onHandleIdsFinished();
            return;
        }
        axios.get('//' + document.domain + ':' + location.port + '/client/requestClientId')
            .then(function (res) {
                localStorage.clientId = res.data.data.clientId;
                onHandleIdsFinished();
            });
    }

    //sessionId
    function handleSessionId() {
        if (sessionStorage.getItem("sessionId") != null) {
            onHandleIdsFinished();
            return;
        }
        axios.get('//' + document.domain + ':' + location.port + '/session/requestSessionId')
            .then(function (res) {
                sessionStorage.sessionId = res.data.data.sessionId;
                onHandleIdsFinished();
            });
    }

    let isIdsHandled = false;

    //在获取到两个id之后
    function onHandleIdsFinished() {
        //如果没有clientId或者sessionId，跳过
        if (isIdsHandled || localStorage.getItem("clientId") == null
            || sessionStorage.getItem("sessionId") == null) {
            return;
        }
        isIdsHandled = true;
        //id完成，开始加载视频
        loadVideo();
    }

    //增加观看记录
    function addWatchHistory() {
        axios.get('/video/addWatchLog?videoId=' + videoId
            + '&clientId=' + localStorage.clientId
            + '&sessionId=' + sessionStorage.sessionId
            + '&videoStatus=' + videoStatus)
            .then(function (res) {
            });
    }

    //程序从这里开始
    start();

</script>
</body>